/*  your css code here. If applicable */
 body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    /* Common Table Styling */
    table {
      border-collapse: collapse;
      margin: 20px auto;
      border: 1px solid black;
    }

    th, td {
      border: 1px solid black;
      padding: 1px;
    }

    /* Classes */
    .middle {
      margin: 0 auto;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    .green {
      background-color: green;
      color: white;
    }

    .blue {
      background-color: blue;
      color: white;
    }