/*  your css code here. If applicable */
 body {
            font-family: Arial, sans-serif;
            width: 1000px;
            margin: 20px auto;
        }

        h1 {
            text-align: center;
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
            margin: 20px auto;
            width: 80%;
        }

        td {
            border: 1px solid black;
            padding: 8px;
        }

        .middle {
            text-align: left;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }

        #t-image img {
            width: 400px;
            display: block;
            margin: 0 auto;
        }